<div class="container my-4">
  <h1>Restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
       <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-body">
              <%= content_tag(:h5, "#{restaurant.name}", class: "card-title")  %>
              <%= content_tag(:p, "Category: #{restaurant.category}", class: "card-text")  %>
              <%= link_to 'More', restaurant, class: "btn btn-primary"%>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
